
h1 {
  color: turquoise;
}

#nav {

}

#pics {
  height: 400px;
  padding-top: 200px;
  background-image: url("https://i.ytimg.com/vi/o4PDgTV2WhA/hqdefault.jpg");
}

#text {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 200px;
  margin-bottom: 200px;
}

#contact {

}

#parImage {
  float: right;
}
