
h1 {
  color: turquoise;
}

#nav {

}

#pics {
  height: 400px;
  padding-top: 200px;
  background-image: url("https://i.ytimg.com/vi/o4PDgTV2WhA/hqdefault.jpg");
}

#text {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 2;
}

#contact {

}

#parImage {
  float: right;
}

.footStyle {
  text-align: center;
  border-top-style: solid;
  border-top-width: 2px;
}

.footRight {
  margin-left: 5%;
}

.footLeft {
  /*margin-right: 5%;*/
}

#logoPic {
  float: left;
}
